{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
PATH="$PATH:$HOME/.local/bin"

# Install oh-my-posh terminal theme
curl -fsSL https://ohmyposh.dev/install.sh | bash -s -- -d "$HOME/.local/bin"

# Install Nerd Fonts
installedFonts=()
if [[ $(command -v fc-list) ]]; then
    mapfile -t installedFonts < <(fc-list : family | sort | uniq)
fi
if [[ ! " ${installedFonts[@]} " =~ "JetBrainsMono NFM" ]]; then
    oh-my-posh font install JetBrainsMono
fi
if [[ ! " ${installedFonts[@]} " =~ "MesloLGM Nerd Font" ]]; then
    oh-my-posh font install Meslo
fi
if [[ $(command -v fc-cache) ]]; then
    fc-cache -f -v
fi
{{ end -}}
