{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Your Name" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   writeToStdout "\n\n                          Terminal dotfile Setup\n" -}}
{{-   writeToStdout "--------------------------------------------------------------------------------\n\n" -}}
{{-   writeToStdout "ℹ️  Answer the following questions so their data can be integrated to your dotfiles afterwards:\n\n" -}}
{{-   $name = promptString "Your full name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "your@email.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "Your email address" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"

edit:
  command: "code"
  args: [ "--wait" ]
