{{- $gitHubUser := env "GITHUB_USER" -}}
{{- $gitHubUserId := env "GITHUB_USER_ID" -}}
{{- $gitHubServerUrl := env "GITHUB_SERVER_URL" | default "https://github.com" -}}
{{- $gitHubDomain := trimPrefix "https://" $gitHubServerUrl -}}
{{- $gitHubApiUrl := env "GITHUB_API_URL" | default "https://api.github.com" -}}
{{- $gitCommitterName := env "GIT_COMMITTER_NAME" -}}
{{- $gitCommitterEmail := env "GIT_COMMITTER_EMAIL" -}}
# User identity
[user]
{{- if and (ne $gitCommitterName nil) (ne $gitCommitterName "") }}
    name = {{ $gitCommitterName }}
{{- else if and (ne $gitHubUser nil) (ne $gitHubUser "") }}
    name = {{ $gitHubUser }}
{{- else }}
    name = {{ .name }}
{{- end }}
{{- if and (ne $gitCommitterEmail nil) (ne $gitCommitterEmail "") }}
    email = {{ $gitCommitterEmail }}
{{- else if and (ne $gitHubUserId nil) (ne $gitHubUserId "") (ne $gitHubUser nil) (ne $gitHubUser "") }}
    email = {{ $gitHubUserId }}+{{ $gitHubUser }}@users.noreply.{{ $gitHubDomain }}
{{- else }}
    email = {{ .email }}
{{- end }}

# Editor settings
[core]
    editor = code --wait  # Set Visual Studio Code as the default editor
    autocrlf = input  # Handle line endings automatically for your platform (input for Linux/Mac, true for Windows)
    # fileMode = false  # Ignore file mode changes

# Credential helper
[credential]
    helper = cache --timeout=3600  # Cache your password for 1 hour

# Safe directory configuration
[safe]
    directory = /workspaces/*

# Worktree configurations
[worktree]
    autoSetupMerge = always  # Automatically setup merge configuration for new worktrees
    autoSetupRebase = always  # Automatically setup rebase configuration for new worktrees

# Alias commands for convenience
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --graph --oneline --decorate --all
    unstage = reset HEAD --
    ss = status -s
    cm = commit -m
    ac = add . && commit -m
    amend = commit --amend --no-edit
    logp = log --pretty=format:'%h - %an, %ar : %s'
    dc = diff --cached
    rb = rebase
    rbc = rebase --continue
    rba = rebase --abort
    rbs = rebase --skip

# Fetch behavior
[fetch]
    prune = true  # Automatically prune stale references

# Push behavior
[push]
    default = current  # Push the current branch to update a branch with the same name
    prune = true  # Prune local references to remove deleted branches

# Pull behavior
[pull]
    rebase = false  # Merge (the default strategy) on git pull

# Merge behavior
[merge]
    ff = only  # Refuse to merge unless the current HEAD is already up-to-date or the merge can be resolved as a fast-forward.

# Repository initialization
[init]
    defaultBranch = main  # Set the default branch name for new repositories

# Include environment-specific configurations
[includeIf "gitdir:/workspaces/"]
    path = .gitconfig-devcontainers
[includeIf "gitdir:/workspaces/"]
    path = .gitconfig-codespaces
